<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="index.css" rel="stylesheet">
  <title>Detail</title>
</head>
<body>
  <main>
    <div>
      <h2><%= image.title  %></h2>
      <time><%= image.date  %></time>
      <figure>
        <img src="/img/<%= image.file.name  %>" alt="<%= image.description %>">
        <figcaption><%= image.description %></figcaption>
      </figure>
    <% if (isAuthor) { %>
    <form action="/<%= image._id %>" method="POST">
      <button type="submit">Remove post</button>
    <% } %>      
    </form>
    </div>
  </main>
</body>
</html>