<%- include ./partials/head.ejs %>

  <main>
    <div>
      <h2>
        <%= image.title  %>
      </h2>
      <time>
        <%= image.date  %>
      </time>
      <figure>
        <img src="/img/<%= image.file.name  %>" alt="<%= image.description %>">
        <figcaption>
          <%= image.description %>
        </figcaption>
      </figure>
      <% if (isAuthor) { %>
        <form action="/delete/<%= image._id %>" method="POST">
          <button type="submit">Remove post</button>
        </form>
        <a href="/edit/<%= image._id %>">Edit</a>
        <% } %>
    </div>
  </main>

  <%- include ./partials/foot.ejs %>