<%- include ./partials/head.ejs %>

  <main class=container>
    <% if (id > 200) { // actual http errors %>
      <article class="animal frame">
        <figure class=frame-image>
          <img src="https://http.cat/<%= id  %>" alt="<%= id %> <%= title %>">
        </figure>
      </article>
      <% } else { %>
        <article class="animal frame">
          <figure class=frame-image>
            <img src=https://http.cat/422 alt>
          </figure>
          <h1>
            <%= title %>
          </h1>
          <p>
            <%= id %>:
              <%= detail %>
          </p>
        </article>
        <% } %>
  </main>

  <%- include ./partials/foot.ejs %>