<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="index.css" rel="stylesheet">
  <title>Death to stock</title>
</head>
<body>
  <header>
    <% if (username) { %>
      <p>Welcome <%= username %></p>
      <p><a href="/logout">Logout</a></p>
      <p><a href="/upload">Upload</a></p>
    <% } else { %>
      <p>Waddup</p>      
      <p><a href="/login">Login</a> or <a href="/register">Register</a></p>
    <% } %>
  </header>
  <main>
    <% images.map(({ file, title, description, date }) => { %>
      <div>
        <h2><%= title  %></h2>
        <time><%= date  %></time>
        <figure>
          <img src="/img/<%= file.name  %>" alt="<%= description %>">
          <figcaption><%= description %></figcaption>
        </figure>
        <% }) %>
      </div>
    </main>
</body>
</html>