<%- include ./partials/head.ejs %>

  <header>
    <% if (user) { %>
      <p>Welcome
        <%= user %>
      </p>
      <p>
        <a href="/auth/logout">Logout</a>
      </p>
      <p>
        <a href="/upload">Upload</a>
      </p>
      <% } else { %>
        <p>Waddup</p>
        <p>
          <a href="/auth/login">Login</a> or
          <a href="/auth/register">Register</a>
        </p>
        <% } %>
  </header>
  <main>
    <% images.map(({ _id, file, title, description, date }) => { %>
      <a href="/post/<%= _id %>">
        <h2>
          <%= title  %>
        </h2>
        <time>
          <%= date  %>
        </time>
        <figure>
          <img src="/img/<%= file.name  %>" alt="<%= description %>">
          <figcaption>
            <%= description %>
          </figcaption>
        </figure>
        <% }) %>
      </a>
  </main>

  <%- include ./partials/foot.ejs %>