<%- include ./partials/head.ejs %>

  <header>
    <nav>
      <% if (user) { %>
        <p>Welcome
          <%= user %>
        </p>
        <ul>
          <li>
            <a href="/auth/logout">Logout</a>
          </li>
          <li>
            <a href="/upload">Upload</a>
          </li>
        </ul>
        <% } else { %>
          <p>Waddup</p>
          <ul>
            <li>
              <a href="/auth/login">Login</a>
            </li>
            <li>
              <a href="/auth/register">Register</a>
            </li>
          </ul>
          <% } %>
    </nav>
  </header>
  <main>
    <% images.map(({ _id, file, title, description, date }) => { %>
      <a href="/post/<%= _id %>" class="block">
        <h2>
          <%= title  %>
        </h2>
        <time>
          <%= date  %>
        </time>
        <figure>
          <img src="/img/<%= file.name  %>" alt="<%= description %>">
          <figcaption>
            <%= description %>
          </figcaption>
        </figure>
      </a>
      <% }) %>
  </main>

  <%- include ./partials/foot.ejs %>